.badge{
    align-items: center;
    text-align: center;
    background-color: aliceblue;
    width: 350px;
    height: 350px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10%;
    box-shadow: 1px 2px gray;
}
img{
    padding-top: 25px;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}
h4{
    font-size: 24px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}
.text p{
    padding: 0;
    margin: 0;
    text-shadow: aqua;
    font-weight: 500;
    color: rgb(37, 41, 41);
}
p:hover {
    color: rgb(62, 162, 243);
}